.dropzone {
  margin: 20px 0;
  min-height: calc(100vh - 230px);
  border: 1px dashed gray;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.dropzone--active {
  border-style: solid;
  background: rgba(0,0,0,.7);
}
.dropzone--children {
  display: block;
}

.dropzone__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  background: rgba(0,0,0,.7);
  opacity: 0;
  color: white;
  transition: opacity .2s ease-in-out;
}

.dropzone__overlay--accept {
  color: lightgreen;
  opacity: 1;
}

.dropzone__overlay--reject {
  color: coral;
    opacity: 1;
}

.dropzone--file {
  opacity: 0;
}
